<h1>Dr. <%= @doctor.name %></h1>
<h3>Specialty: <%= @doctor.specialty %></h3>
<%= link_to "Edit Doctor Info", edit_doctor_path %>
<br/>
<%= link_to "Delete Doctor", @doctor, method: :delete %>
<hr/>
<h3>Patients</h3>
  <ul>
    <% @doctor.patients.each do |patient| %>
      <li>
      <%= link_to (patient.first_name + ' ' + patient.last_name), patient %>
      </li>
    <% end %>
  </ul>
